{% include 'header.html' %}
{% load custom_tags %}
<!-- Контент с карточками -->
<div class="container mt-4 content">
    <div class="row justify-content-center">
        <!-- Пример карточки книги -->
         {% for item in books %}
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 100%;">
                <img src="https://via.placeholder.com/400x200" class="card-img-top" alt="Обложка книги">
                <div class="card-body">
                    <h5 class="card-title">{{item.book_name}}</h5>
                    <p class="card-text">{{item.book_release}}</p>
                    <p><strong>средняя оценка: </strong>{% get_rate item %}</p>
                    <a href="{% url 'book_detail' item.id %}" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- Добавьте дополнительные карточки книг здесь -->
    </div>
</div>

{% include 'footer.html' %}


