{% include 'header.html' %}
<!-- Контент с информацией о книге -->
<div class="container mt-4">
    <div class="book-card">
        <div class="card">
            <img src= {{ book.book_photo }} class="card-img-top" alt="Книга">
            <div class="card-body">
                <h5 class="card-title">{{ book.book_name }}</h5>
                <p class="card-text">{{ book.book_description }}</p>
                <p><strong>Цена:</strong> {{ book.book_price }} сом</p>
                <p><strong>Дата выхода:</strong> {{ book.book_release }}</p>
                <p><strong>Жанр:</strong> {{ book.book_genre }}</p>
                <p><strong>Почта:</strong> {{ book.authors_email }}</p>
                <p><strong>Автор:</strong> {{book.authors_name }}</p>
                <p><strong>Средняя оценка: </strong> {{ rate }}</p>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/VIDEO_ID" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <!-- Блок для комментариев -->
    <div class="comment-section">
        <h5>Комментарии</h5>
        {% for comment in comments %}
        <div class="comment">
            <p> ({{comment.created_at}}): <br> <strong> имя:</strong> {{ comment.name|default_if_none:"Без имени"}} <br>
                <h2>{{ comment.text }}</h2>
                <br><strong>Оценка: </strong>{{ comment.rate|default_if_none:"Не оценил" }}</p>
        </div>
        {% endfor %}
    </div>
    <br>
    <form method="get" action="{% url 'add_comment' book.id %}">
        <button type="submit">Добавить Комментарии</button>
    </form>
</div>

<!-- Футер -->
{% include 'footer.html' %}